body {
    background-color: ghostwhite;
    padding: 0 30px;
}

nav {
  width: 80%;
  margin: 0 auto;
}

h1 {
    text-align: center;
}

#pic1 {
    float: right;
    margin: 0 0 25px 25px;
}

#pic2 {
    float: left;
    margin: 0 25px 25px 0;
}

figcaption {
    text-align: center;
}

video {
    width: 80%;
    max-height: 400px;
    margin: 0 auto;
    display: block
}

table, th, td {
    border: 1px solid black;
    margin: 15px;
    padding: 3px;
}